<section class="login-form">
  <form 
   fxLayout="column" 
   fxLayoutAlign="center center" 
   #f="ngForm" 
   (ngSubmit)="onSubmit(f)" 
   fxLayoutGap="10px" 
   [formGroup]="loginForm">
    <mat-form-field>
      <input 
        type="email" 
        matInput 
        placeholder="your email" 
        formControlName="email">
        <mat-hint>Please enter a valid email.</mat-hint>
        <mat-error>Invalid or missing email</mat-error>
        <!--<mat-error *ngIf="emailInput.hasError('required')">Email field is empty</mat-error>-->
        <!--<mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>-->
    </mat-form-field>
    <mat-form-field>
      <input
        type="password" 
        matInput 
        placeholder="your password" 
        formControlName="password">
       <mat-error>Missing password</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid === true">Submit</button>
  </form>
</section>